@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix scroll iPhone */
html, body, #root {
  height: 100%;
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overscroll-behavior-y: none;
  min-height: 100vh;
  min-height: 100svh;
}

/* Evita el zoom en inputs en iOS Safari */
input, textarea, select {
  font-size: 16px !important;
}

@media (min-width: 768px) {
  input, textarea, select {
    font-size: 14px !important;
  }
}

/* Safe areas */
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-top {
  padding-top: env(safe-area-inset-top);
}